<div class="row">        <!-- first days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>8:30 am - Setup help desk</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Lesson 1</td>
        <td>Git and GitHub for Researchers</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;9:00 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://jornada-im.github.io/JEDS/html/git-and-github-for-research.html">Using Git and GitHub as a Researcher</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>&nbsp;&nbsp;10:30 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://lter.github.io/workshop-github/github.html">Extra: Project Management features of GitHub</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>&nbsp;&nbsp;11:00 am</td>        <!-- time    -->
        <td>Break for 10 minutes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Lesson 2</td>
        <td>Data Analysis and Visualization in R for Ecologists</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>&nbsp;&nbsp;11:10 am</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.github.io/R-ecology-lesson/introduction-r-rstudio.html">Introduction to R and R Studio</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>&nbsp;&nbsp;12:00 pm</td>        <!-- time    -->
        <td>Lunch break until 1:00pm</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>&nbsp;&nbsp;01:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.github.io/R-ecology-lesson/visualizing-ggplot.html">Data Visualization with ggplot2</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>&nbsp;&nbsp;03:45 pm</td>        <!-- time    -->
        <td>Break for 15  minutes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>&nbsp;&nbsp;04:00 pm</td>        <!-- time    -->
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://datacarpentry.org/r-raster-vector-geospatial/instructor/03-raster-reproject-in-r.html">Extra Vignettes on Higher-Level R for Data Analysis</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>&nbsp;&nbsp;4:30 pm</td> 
        <td>End workshop</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>After workshop</td> 
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
